.wrapper {
  composes: gridContainer from global;
  composes: max from global;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: "aboutHeader" "aboutMain";
  background-color: var(--washed-green); /* .bg-gold */

  & > header {
    & > h3 {
      margin: var(--spacing-none); /* .ma0 */
    }
  }

  & > main {
    grid-area: aboutMain;
  }
}
