@import '../../styles/app.css';
.wrapper {
  margin: var(--spacing-extra-extra-large); /* .ma6 */
  padding: var(--spacing-medium); /* .pa3 */
  border-style: solid;
  border-width: 3px;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;

  & > * {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
  }
}
