:root {
  --cpp-blue: #5b87ba;
  --cpp-blue-med: var(--cpp-blue);
  --cpp-blue-light: #c5d4e6;
  --cpp-blue-dark: #16549d;
  --cpp-orange-light: #f69c00;
  --cpp-orange-dark: #d48c00;

  --dark-color: var(--near-black);
  --light-color: var(--near-white);
}
