@import './_variables.css';
:root {
  --theme-dark-color: var(--cpp-dark-blue);
  --theme-dark-inverse: var(--light-color);

  --theme-light-color: var(--cpp-light-blue);
  --theme-light-inverse: var(--dark-color);

  --info-color: var(--cpp-blue);
  --info-inverse: var(--dark-color);

  --danger-color: var(--red);
  --danger-inverse: var(--dark-color);

  --success-color: var(--green);
  --success-inverse: var(--dark-color);

  --warning-color: var(--cpp-light-orange);
  --warning-inverse: var(--dark-color);
}
