.home {
  composes: gridContainer from global;
  composes: max from global;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: "homeHeader" "homeMain";
  background-color: var(--washed-red); /* .bg-gold */

  & > header {
    grid-area: homeHeader;
    padding-top: var(--spacing-extra-small); /* .pv0 */
    padding-bottom: var(--spacing-extra-small);
    background-color: var(--dark-gray); /* .bg-dark-gray */
    color: var(--near-white); /* .near-white */
    & > h3 {
      margin: var(--spacing-none); /* .ma0 */


    }
  }

  & > main {
    grid-area: homeMain;
  }
}
