.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  background-color: var(--theme-dark-color);
  background-image: url('../../assets/images/dotnoise-light-grey.png');
  color: var(--theme-dark-inverse);

  & .logo {
    order: 0;
    flex: 2 1 auto;
    align-self: center;
    font-size: var(--font-size-3); /* .f3 */
  }

  & nav {
    order: 0;
    flex: 1 1 auto;
    align-self: auto;
    & ul {
      margin: var(--spacing-none); /* .ma0 */
      padding: var(--spacing-none); /* .pa0 */
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-end;
      align-content: center;
      align-items: center;
    }
    & li {
      padding-left: var(--spacing-small); /* .ph2 */
      padding-right: var(--spacing-small);
      font-size: var(--font-size-6); /* .f6 */
      text-decoration: none;
      display: inline;
      list-style-type: none;
      flex: 0 1 auto;
      margin-bottom: var(--spacing-none); /* .pb0 */
    }
  }
}
.active {
  background-color: var(--light-color); /* .dark-color */
  color: var(--dark-color); /* .bg-light-color */
  border-radius: var(--border-radius-3); /* .br3 */
  padding: var(--spacing-extra-small); /* .pa1 */
}