.wrapper {
  composes: centeringWrapper from global;
  composes: max from global;
  background-color: var(--cpp-dark-blue);
  color: var(--cpp-light-orange);

  & > * {
    flex: 0 1 auto;
  }

  & h3 {
    font-size: var(--font-size-1); /* .f2 */

  }

  & p {
    text-align: center; /* .tc */
  }

  & a {
    text-decoration: none;
  }
}
